<!-- Footer -->
<div id="footer-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-8 col-12-medium">

				<section>
					<h2>Текст ради текста</h2>
					<div>
						<div class="row">
							<div class="col-3 col-6-medium col-12-small">
								<ul class="link-list">
									<li><a href="#">Sed neque nisi consequat</a></li>
								</ul>
							</div>
							<div class="col-3 col-6-medium col-12-small">
								<ul class="link-list">
									<li><a href="#">Quis accumsan lorem</a></li>
								</ul>
							</div>
							<div class="col-3 col-6-medium col-12-small">
								<ul class="link-list">
									<li><a href="#">Sed neque nisi consequat</a></li>
								</ul>
							</div>
							<div class="col-3 col-6-medium col-12-small">
								<ul class="link-list">
									<li><a href="#">Quis accumsan lorem</a></li>
								</ul>
							</div>
						</div>
					</div>
				</section>

			</div>
			<div class="col-4 col-12-medium">

				<section>
					<h2>Какое-то описание</h2>
					<p>
						Duis neque nisi, dapibus sed mattis quis, rutrum accumsan sed.
						Suspendisse eu varius nibh. Suspendisse vitae magna eget odio amet
						mollis justo facilisis quis. Sed sagittis mauris amet tellus gravida
						lorem ipsum dolor sit blandit.
					</p>
					<footer class="controls">
						<a href="#" class="button">Дизайн кнопки</a>
					</footer>
				</section>

			</div>
		</div>
		<div class="row">
			<div class="col-12">

				<div id="copyright">
					&copy;Студент. Свободный доступ | Design: <a href="http://html5up.net">HTML5 UP</a>
				</div>

			</div>
		</div>
	</div>
</div>