<div>
<h2>Какие-то важные ссылки</h2>
<div>
			<ul class="link-list">
				<li><a href="#">Sed neque nisi consequat</a></li>
				<li><a href="#">Quis accumsan lorem</a></li>
				<li><a href="#">Sed neque nisi consequat</a></li>
				<li><a href="#">Quis accumsan lorem</a></li>
			</ul>
</div>
</div>